@use 'sass:math';
@import "app/variables.module.scss";

$box-height: calc((100/4.5) * math.sqrt(math.pow(1.25, 2)/2) * 1rem);
$box-height: 35vh;

.experienceScroller {
  &::-webkit-scrollbar {
    background: $dark;
  }

  &::-webkit-scrollbar-thumb {
    display: none;
    // background: linear-gradient(90deg, $primary-green 0%, $primary-green 20%, $primary-blue 80%, $primary-blue 100%);
    // background-attachment: fixed;
    // background-size: 100vw;
    // border-radius: 1000px;
  }

  &::-webkit-scrollbar-track {
    background: $dark;
  }
}

.experienceWrapper {
  padding-top: calc(50vh - $box-height - 1rem);
  padding-bottom: calc(50vh - $box-height - 1rem);
  padding-left: 5rem;
}

.bgGradient {
  background: linear-gradient(90deg, $primary-green 0%, $primary-green 20%, $primary-blue 80%, $primary-blue 100%);
  background-attachment: fixed;
  background-size: 100vw;
}

.node {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  z-index: 10;

  .innerNode {
    background: $dark;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 55%;
    height: 55%;
    border-radius: 50%;
  }
}

.branch {
  min-height: 1.25rem;
  margin-left: -15px;
  margin-right: -15px;

  &.top {
    position: absolute;
    left: calc(($box-height) + 3rem);
    width: calc(100% - (2 * ($box-height) + 4rem));
  }

  &.bottom {
    position: absolute;
    left: 2.5rem;
    width: calc(100% - 3rem);
  }
}

.cover {
  width: 100%;
  height: 100%;
  z-index: 20;
  background: $dark;
  position: absolute;
  top: 0;
  right: 0;
  animation-name: reveal;
  animation-duration: 1s;
  animation-delay: 0s;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}

.box {
  width: fit-content;
  height: calc($box-height + 1rem);
  padding-left: calc(($box-height) + 2rem);
  padding-right: calc(($box-height) + 2rem);

  .lNode {
    left: calc(($box-height) - 1.5rem);
  }

  .rNode {
    right: calc(($box-height) - 1.5rem);
  }
}

.clip {
  width: $box-height;
  height: $box-height;

  &.lClip {
    // clip-path: polygon(0 96%, 4% 96%, 4% 100%, 100% 4%, 96% 4%, 96% 0);
    clip-path: polygon(0 95%, 5% 95%, 5% 100%, 100% 5%, 95% 5%, 95% 0);
  }

  &.rClip {
    // clip-path: polygon(0 96%, 4% 96%, 4% 100%, 100% 4%, 96% 4%, 96% 0);
    clip-path: polygon(100% 95%, 95% 95%, 95% 100%, 0 5%, 5% 5%, 5% 0%);
  }

}

.cancelAnimText {
  animation-name: remove;
  animation-delay: 15s;
  animation-fill-mode: forwards;
}


@keyframes reveal {
  from {
    width: 100%;
  }

  to {
    width: 0%;
  }
}

@keyframes remove {
  from {
    display: initial;
  }

  to {
    display: none;
  }
}
