@import "app/variables.module.scss";

.main {
    min-height: 100vh;
    padding: 8rem 8rem 4rem 10rem;

    .middle {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .textContainer {
            width: 60%;
            height: 100%;

            h3 {
                font-size: 6rem;
                margin-bottom: 30px;
            }

            p {
                margin-bottom: 30px;
                font-size: 1.4rem;
            }
        }

        .profileImage {
            width: 35%;
            border-radius: 20px;
            // aspect-ratio: 1/1;
        }
    }

    .buttonWrapper {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 50px;

        button {
            font-size: 1.4rem;
            padding: 30px 50px;
            border: 1px solid rgba(255, 255, 255, 0.1);
            background: #1f1f1f;
            border-radius: 10px;
            width: 20%;
            cursor: pointer;
            transition-duration: 0.3s;

            &:hover {
                transform: translateY(-10px);
                color: $middle-green-blue;
                border-color: $middle-green-blue;
            }
        }
    }
}