$light: #FFF;
$dark: #0d0d0d;
$primary-green: #0f8;
$between-green: #0fa;
$middle-green-blue: #0fb;
$between-blue: #0fc;
$primary-blue: #0fe;
$primary-gradient-large: linear-gradient(90deg, #0f8 0%, #0fe 100%);
$primary-gradient-small: linear-gradient(90deg, #0f8 50%, #0fe 100%);

:export {
    primaryGreen: $primary-green;
    betweenGreen: $between-green;
    middleGreenBlue: $middle-green-blue;
    betweenBlue: $between-blue;
    primaryBlue: $primary-blue;
    primaryGradientLarge: $primary-gradient-large;
    primaryGradientSmall: $primary-gradient-small;
}